APP_URL=http://localhost/careergrowthinfotech
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=ankitkumarbup@gmail.com
MAIL_PASSWORD=replace_with_gmail_app_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=ankitkumarbup@gmail.com
MAIL_FROM_NAME=Career Grow Infotech
MAIL_REPLY_TO_ADDRESS=
MAIL_REPLY_TO_NAME=
